  .titulo-página{
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .índice{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .manchete{
    font-size: 40px;
    text-align: center;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: teal;
    color: white;
  }

#navegação li{
  display: inline-block;
  text-align: left;
  margin-left: 5px;
  font-size: 20px;
  position: relative;
  right: 30px;
}

 
.cabeçalho{
  color: white;
}
  .cabeçalho:hover {
    color:  darkgray;
  }
  
  .logout-button{
    display: block;
    color: white;
    background-color: teal;
    border-width: 0px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif
  }
  .logout-button:hover{
    color:  darkgray;
  }

  main {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    background-color: rgb(226, 223, 223);
    padding-bottom: 15px;
    
  }
  main > ul li{
    display: block;
    position: relative;
    width: 800px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Times New Roman';
    text-align: justify;
  }
  main > p{
    display: block;
    position: relative;
    width: 780px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Times New Roman';
    text-align: justify;
  }
  
  footer {
    display: flex;
    justify-content: center;
    background-color: teal;
    color: white;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .banner{
    display: block;
    width: 100%;
    max-width: 800px;
  }

  .post-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

  }
  .Postagem{
    background-color:lightgray;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 45%;
    border-radius: 10%/50%;
    border: solid 1px black;
    box-shadow: 2px 2px 5px black;
    font-size: 17px;
  }
  .titulo-post{
    color: teal;
  }
  .titulo-post:hover{
    color:rgba(0, 128, 128, 0.8)
  }
  .categoria{
    color: teal;
  }
  .categoria:hover{
    color:rgba(0, 128, 128, 0.8)
  }
  .category-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .description{
    font-size: 22px;
  }
  .data{
    color:black;
  }
  .cats{
    color:teal;
    padding: 5px;
  
  }
  .cats:hover{
    color:rgba(0, 128, 128, 0.8)
  }
  .banner{
    height: 200px;
    width: 500px;
  }
  .l_cats{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 20px;
    font-size: 20px;
  }
  .page_content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .data{
    position: relative;
    bottom: 20px;
  }
  .alterar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 20%;
    padding-left: 550px;
  }
  .edição{
    color: teal;
    font-size: 20px;
  }
  .edição:hover{
    color:rgba(0, 128, 128, 0.8)
  }
  .post-body{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    width: 55%;
  }
  .comment-body{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;

  }
  .post-text{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: justify;
    width: 55%;
  }
  .comments{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comment-button{
    background-color: rgb(226, 223, 223);
    font-size: 20px;
    text-decoration: underline;
    border: 0px;
    color: teal;
  }
  .comment-button:hover{
    color:rgba(0, 128, 128, 0.8)
  }
  .about-text{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
  }
  .lista-about{
    list-style-position: inside;
  }
  .form-with-validation{
    text-align: center;
    background-color: teal;
    width: 40%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
  }
  .form-with-validation div{
    padding: 5px;
  }
  .form-with-validation label,legend,div{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }
  .delete-text{
    font-size: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  .button{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pos-comment{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media  only screen and (max-width:800px){

    main > p{
      display: block;
      position: relative;
      width: 400px;
      margin: 0 auto;
      font-size: 20px;
      font-family: 'Times New Roman';
      text-align: justify;
    }

    #navegação li{
      display: inline-block;
      text-align: left;
      margin-left: 5px;
      font-size: 12px;
      position: relative;
      right: 30px;
    }
    .logout-button{
      display: block;
      color: white;
      background-color: teal;
      border-width: 0px;
      font-size: 12px;
      font-weight: 500;
      text-decoration: underline;
      font-family: 'Times New Roman', Times, serif
    }
    .manchete{
      font-size: 35px;
      text-align: center;
      position: relative;
      right: 15px;
    }
    .alterar{
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      width: 40%;
      padding-left: 150px;
    }
 
    
  }
