{% extends 'layout.html' %}

{% block title %}
    Recanto da Postagem
{% endblock %}

{% block content %}
    <section class = "about-text">
    <p>Navegando entre as abas deste site você será capaz de:</p>
    <ul class = "lista-about">
        <li> Criar Postagens sobre experiências que deseja compartilhar, bem como visualizar postagem de outras pessoas.</li>
        <li> Navegar através das categorias para encontrar os posts que mais te interessam, como esportivos ou culinários.</li> 
        <li>Comentar nos posts de outros usuários para que tenham uma discussão engajante.</li>
    </ul>
    <p>Lembre-se apenas de registrar-se antes de começar a aproveitar os recursos disponíveis!</p>
    
    </section>
{% endblock %}