{% extends 'layout.html' %}

{% block title %}
    Recanto da Postagem
{% endblock %}

{% block manchete %}
<h1 class = "manchete">Recanto da Postagem</h1>
{% endblock %}

{% block content %}
    <p style = "padding-top:20px;"> Neste site você encontrará um lugar confortável e descontraído para compartilhar experiências
        vivenciadas por você, bem como encontrar relatos de outras pessoas. Espera-se que o ambiente
        te ajude a encontrar informações que precise, bem como novos amigos com quem possa compartilhar
        coisas interessantes.
    </p>
{% endblock %}
