{% extends 'layout.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block manchete %}
<h1 class = "manchete">Recanto da Postagem</h1>
{% endblock %}

{% block content %}
    <section class = "page_content">
        <h1 class = "titulo-página"> {{ post.title }} </h1>
        <section class = "l_cats">
            {% for cat in cats %}<a class = "cats" href="{% url 'posts:category' cat.id %}">{{cat.name}}</a> {% endfor %}
        </section>
        <p class = "data">{{ post.date }}</p>
        <img class="banner" src="{{post.banner.url}}"
             alt = "{{post.title}}"/>
        <p class = "post-text">{{ post.body }}</p>
    </section>
    <section class = "edit">
    {% if  user == post.author or user.is_superuser %}
    <ul class = "alterar">
        <li><a class = "edição" href="{% url 'posts:update' slug=post.slug %}">Editar</a></li>
        <li><a class = "edição" href="{% url 'posts:delete' slug=post.slug %}">Apagar</a></li>
    </ul>
    {% endif %}
    </section>
    <hr>
    <section class = "comments">
        <h1 class = "titulo-página">Comentários</h1>
        <a href="{% url 'posts:comment' post.slug %}"><button class="comment-button">Criar Comentário</button></a>
        {% if post.comment_set.all %}
        <hr style="border: 0.5px solid #c7c7c7; width: 100%; margin: 15px 0px 10px 0px;width: 25%;">
        <section>
    
            
            {% for comment in comments %}
                <div class = "pos-comment">
                    <div class="post-header">
                        <p style="margin:5px 0px 12px 0px;" class="comment-body"><b>{{ comment.author }}</b> - <i>{{ comment.date }}</i></p>
                    </div>
                    <p class = "post-body" style = "text-align:center;">{{ comment.body }}</p>
                    <hr style="border: 0.5px solid #c7c7c7; width: 55%; margin: 15px 0px 10px 0px;">
                </div>
            {% endfor %}
        </section>
        {% endif %}
    </section>

{% endblock %}