{% extends 'layout.html' %}

{% block title %}
    Lista de Posts
{% endblock %}

{% block manchete %}
<h1 class = "manchete">Recanto da Postagem</h1>
{% endblock %}

{% block content %}
    <section class = "post-list">
    <h1 class = "titulo-página"> Lista de Posts </h1>

    {% for post in posts %}
        <article class  = "Postagem">
            <h2 >
                <a class = "titulo-post" href="{% url 'posts:page' slug=post.slug %}">{{ post.title }}</a>
            </h2>
            <p>{{ post.date }} by {{post.author}}</p>

        </article>
    {% endfor %}
    </section>
{% endblock %}